*
{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    outline: 0;
}

body
{
    background-color: hsl(0, 0%, 94%);

    div.container
    {

        padding: 15vh 0;

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;


        div.date
        {
            display: flex;
            justify-content: space-around;
            gap: 15px;

            padding-bottom: 30px;


            input
            {
                width: 20vw;
                margin-left: 0;
                padding: 8px 8px;

                border-style: solid;
                border-radius: 5px;
                border-color: hsl(0, 0%, 86%);


                font-weight: 700;
                font-size: 20px;
                color: black;

                transition: 0.2s;

            }


            p
            {
                padding: 20px;
                padding-left: 0px;
                padding-bottom: 5px;

                font-size: 12px;
                font-weight: 400;
                color: hsl(0, 1%, 44%);

                letter-spacing: 3px;
            }

            p.alert
            {
                padding: 0px;
                margin: 0;
                letter-spacing: 0;

                color: rgb(255, 255, 255);
                font-size: 8px;
            }


        }

        button
        {
            border: 0;
            border-radius: 100%;
            background-color: hsl(259, 100%, 65%);
            height: 60px;
            width: 60px;

            margin-bottom: 30px;

            svg
            {
                width: 26px;
                height: 26px;
            }
        }

        div.view
        {
            transition: 0.2s;
            margin-right: 40px;

            div.result
            {


                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 10px;

                font-size: 55px;
                font-style: italic;
                font-weight: 800;
                line-height: 60px;




                div
                {
                    color: hsl(259, 100%, 65%);

                }

            }
        }


    }

    div.attribution
    {
        color: red($color: #000000);

        font-size: 11px;
        text-align: center;

        a
        {
            color: hsl(228, 45%, 44%);
        }

    }


}

@media(min-width: 1440px)
{
    body
    {
        div.container
        {
            padding: 18vh 0;

            margin-right: 10vw;

            div.date
            {
                margin-right: 60px;

                gap: 30px;

                padding-bottom: 0;


                input
                {
                    width: 9vw;

                    border-radius: 10px;

                    font-size: 32px;
                }

                p
                {
                    padding-bottom: 10px;
                }

                p.alert
                {
                    font-size: 12px;
                }
            }

            button
            {

                margin-left: 50vw;
                margin-bottom: 0;

                height: 80px;
                width: 80px;

                

                transition: 0.1s;

                svg
                {
                    width: 40px;
                    height: 40px;
                }
            }

            button:hover
            {
                cursor: pointer;
                background-color: hsl(259, 66%, 55%);
                scale: 0.95;


            }

            div.view
            {

                display: flex;

                align-items: initial;
                flex-direction: column;

                margin-right: 3vw;

                div.result
                {
                    padding-left: 0;
                    font-size: 100px;
                    line-height: 110px;
                }
            }
        }

        div.attribution
        {
            padding-top: 0;
            font-size: 15px;


            a{
                transition: 0.2s;
            }

            a:hover{
                color: hsl(259, 66%, 55%);
            }
        }
    }
}